<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>GetLoginController</servlet-name>
		<display-name>GetLoginController</display-name>
	<description></description>
		<servlet-class>com.resfinder.web.GetLoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.resfinder.web.model.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetLoginController</servlet-name>
		<url-pattern>/getLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
</web-app>
